BROKER_HOST=127.0.0.1
BROKER_PORT=8080
BROKER_ID=cognets-broker
BROKER_PUBLIC_ENDPOINT=http://127.0.0.1:8080/ngsi-ld/v1
BROKER_MONGO_URL=mongodb://127.0.0.1:27017
BROKER_MONGO_DATABASE=cognets_broker
BROKER_REDIS_URL=redis://127.0.0.1/
BROKER_REDIS_STREAM=ngsild:internal
BROKER_REDIS_CONSUMER_GROUP=ngsild-brokers
BROKER_REDIS_CONSUMER_NAME=cognets-broker
BROKER_OUTBOUND_TIMEOUT_MS=5000
BROKER_P2P_ENABLED=true
BROKER_P2P_SYNC_INTERVAL_MS=10000
BROKER_P2P_SWIM_SUSPECT_TIMEOUT_MS=15000
BROKER_P2P_SEEDS=http://127.0.0.1:8081/ngsi-ld/v1
